
@each $key, $val in $colors {
    .#{$prefix}text-#{$key} {
      color: $val;
    }
    .#{$prefix}bg-#{$key} {
      background-color: $val;
    }
    .#{$prefix}text-hover-#{$key} {
        &:hover {
          color: $val;
        }
      }
      .#{$prefix}bg-#{$key} {
        background-color: $val;
      }
  
    // light variations
   
        @for $i from 1 through 5 {
        .#{$prefix}text-#{$key}-light-#{$i} {
            color: mix(white, $val, $i * 10);
        }
        .#{$prefix}text-hover-#{$key}-light-#{$i} {
            &:hover {
              color: mix(white, $val, $i * 10);
            }
          }
        .#{$prefix}bg-#{$key}-light-#{$i} {
            background-color: mix(white, $val, $i * 10);
        }
        }
    
        // dark variations
        @for $i from 1 through 5 {
        .#{$prefix}text-#{$key}-dark-#{$i} {
            color: mix(black, $val, $i * 10);
        }
        .#{$prefix}text-hover-#{$key}-dark-#{$i} {
            &:hover {
              color: mix(black, $val, $i * 10);
            }
          }
        .#{$prefix}bg-#{$key}-dark-#{$i} {
            background-color: mix(black, $val, $i * 10);
        }
        }
    
  }