
$utilities: (
  "padding": (
    "prefix": "#{$prefix}p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8
    ),
  ),
  "padding-left": (
    "prefix": "#{$prefix}pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8
    ),
  ),
  "padding-right": (
    "prefix": "#{$prefix}pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8
    ),
  ),
  "padding-top": (
    "prefix": "#{$prefix}pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8
    ),
  ),
  "padding-bottom": (
    "prefix": "#{$prefix}pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8
    ),
  ),
  "margin": (
    "prefix": "#{$prefix}m",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8
    ),
  ),
  "margin-left": (
    "prefix": "#{$prefix}ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8
    ),
  ),
  "margin-right": (
    "prefix": "#{$prefix}mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8
    ),
  ),
  "margin-top": (
    "prefix": "#{$prefix}mt",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8
    ),
  ),
  "margin-bottom": (
    "prefix": "#{$prefix}mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8
    ),
  ),
  "opacity": (
    "prefix": "#{$prefix}o",
    "values": (
      "10": 0.1,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "border": (
    "prefix": "#{$prefix}border",
    "values": (
      "primary-1":$base-border-thickness solid $primary,
      "primary-2":$base-border-thickness*2 solid $primary,
      "primary-3":$base-border-thickness*4 solid $primary,
      "primary-4":$base-border-thickness*6 solid $primary,
      "primary-5":$base-border-thickness*8 solid $primary,
      "secondary-1":$base-border-thickness solid $secondary,
      "secondary-2":$base-border-thickness*2 solid $secondary,
      "secondary-3":$base-border-thickness*4 solid $secondary,
      "secondary-4":$base-border-thickness*6 solid $secondary,
      "secondary-5":$base-border-thickness*8 solid $secondary,
      "success-1":$base-border-thickness solid $success,
      "success-2":$base-border-thickness*2 solid $success,
      "success-3":$base-border-thickness*4 solid $success,
      "success-4":$base-border-thickness*6 solid $success,
      "success-5":$base-border-thickness*8 solid $success,
      "danger-1":$base-border-thickness solid $danger,
      "danger-2":$base-border-thickness*2 solid $danger,
      "danger-3":$base-border-thickness*4 solid $danger,
      "danger-4":$base-border-thickness*6 solid $danger,
      "danger-5":$base-border-thickness*8 solid $danger,
      "warning-1":$base-border-thickness solid $warning,
      "warning-2":$base-border-thickness*2 solid $warning,
      "warning-3":$base-border-thickness*4 solid $warning,
      "warning-4":$base-border-thickness*6 solid $warning,
      "warning-5":$base-border-thickness*8 solid $warning,
      "info-1":$base-border-thickness solid $info,
      "info-2":$base-border-thickness*2 solid $info,
      "info-3":$base-border-thickness*4 solid $info,
      "info-4":$base-border-thickness*6 solid $info,
      "info-5":$base-border-thickness*8 solid $info,
      "blue-1":$base-border-thickness solid $blue,
      "blue-2":$base-border-thickness*2 solid $blue,
      "blue-3":$base-border-thickness*4 solid $blue,
      "blue-4":$base-border-thickness*6 solid $blue,
      "blue-5":$base-border-thickness*8 solid $blue,
      "red-1":$base-border-thickness solid $red,
      "red-2":$base-border-thickness*2 solid $red,
      "red-3":$base-border-thickness*4 solid $red,
      "red-4":$base-border-thickness*6 solid $red,
      "red-5":$base-border-thickness*8 solid $red,
      "yellow-1":$base-border-thickness solid $yellow,
      "yellow-2":$base-border-thickness*2 solid $yellow,
      "yellow-3":$base-border-thickness*4 solid $yellow,
      "yellow-4":$base-border-thickness*6 solid $yellow,
      "yellow-5":$base-border-thickness*8 solid $yellow,
      "green-1":$base-border-thickness solid $green,
      "green-2":$base-border-thickness*2 solid $green,
      "green-3":$base-border-thickness*4 solid $green,
      "green-4":$base-border-thickness*6 solid $green,
      "green-5":$base-border-thickness*8 solid $green,
      "orange-1":$base-border-thickness solid $orange,
      "orange-2":$base-border-thickness*2 solid $orange,
      "orange-3":$base-border-thickness*4 solid $orange,
      "orange-4":$base-border-thickness*6 solid $orange,
      "orange-5":$base-border-thickness*8 solid $orange,
      "purple-1":$base-border-thickness solid $purple,
      "purple-2":$base-border-thickness*2 solid $purple,
      "purple-3":$base-border-thickness*4 solid $purple,
      "purple-4":$base-border-thickness*6 solid $purple,
      "purple-5":$base-border-thickness*8 solid $purple,
      "gray-1":$base-border-thickness solid $gray,
      "gray-2":$base-border-thickness*2 solid $gray,
      "gray-3":$base-border-thickness*4 solid $gray,
      "gray-4":$base-border-thickness*6 solid $gray,
      "gray-5":$base-border-thickness*8 solid $gray,
      "black-1":$base-border-thickness solid $black,
      "black-2":$base-border-thickness*2 solid $black,
      "black-3":$base-border-thickness*4 solid $black,
      "black-4":$base-border-thickness*6 solid $black,
      "black-5":$base-border-thickness*8 solid $black,
      "white-1":$base-border-thickness solid $white,
      "white-2":$base-border-thickness*2 solid $white,
      "white-3":$base-border-thickness*4 solid $white,
      "white-4":$base-border-thickness*6 solid $white,
      "white-5":$base-border-thickness*8 solid white
    ),
  ),
  "border-right": (
    "prefix": "#{$prefix}border-right",
    "values": (
      "primary-1":$base-border-thickness solid $primary,
      "primary-2":$base-border-thickness*2 solid $primary,
      "primary-3":$base-border-thickness*4 solid $primary,
      "primary-4":$base-border-thickness*6 solid $primary,
      "primary-5":$base-border-thickness*8 solid $primary,
      "secondary-1":$base-border-thickness solid $secondary,
      "secondary-2":$base-border-thickness*2 solid $secondary,
      "secondary-3":$base-border-thickness*4 solid $secondary,
      "secondary-4":$base-border-thickness*6 solid $secondary,
      "secondary-5":$base-border-thickness*8 solid $secondary,
      "success-1":$base-border-thickness solid $success,
      "success-2":$base-border-thickness*2 solid $success,
      "success-3":$base-border-thickness*4 solid $success,
      "success-4":$base-border-thickness*6 solid $success,
      "success-5":$base-border-thickness*8 solid $success,
      "danger-1":$base-border-thickness solid $danger,
      "danger-2":$base-border-thickness*2 solid $danger,
      "danger-3":$base-border-thickness*4 solid $danger,
      "danger-4":$base-border-thickness*6 solid $danger,
      "danger-5":$base-border-thickness*8 solid $danger,
      "warning-1":$base-border-thickness solid $warning,
      "warning-2":$base-border-thickness*2 solid $warning,
      "warning-3":$base-border-thickness*4 solid $warning,
      "warning-4":$base-border-thickness*6 solid $warning,
      "warning-5":$base-border-thickness*8 solid $warning,
      "info-1":$base-border-thickness solid $info,
      "info-2":$base-border-thickness*2 solid $info,
      "info-3":$base-border-thickness*4 solid $info,
      "info-4":$base-border-thickness*6 solid $info,
      "info-5":$base-border-thickness*8 solid $info,
      "blue-1":$base-border-thickness solid $blue,
      "blue-2":$base-border-thickness*2 solid $blue,
      "blue-3":$base-border-thickness*4 solid $blue,
      "blue-4":$base-border-thickness*6 solid $blue,
      "blue-5":$base-border-thickness*8 solid $blue,
      "red-1":$base-border-thickness solid $red,
      "red-2":$base-border-thickness*2 solid $red,
      "red-3":$base-border-thickness*4 solid $red,
      "red-4":$base-border-thickness*6 solid $red,
      "red-5":$base-border-thickness*8 solid $red,
      "yellow-1":$base-border-thickness solid $yellow,
      "yellow-2":$base-border-thickness*2 solid $yellow,
      "yellow-3":$base-border-thickness*4 solid $yellow,
      "yellow-4":$base-border-thickness*6 solid $yellow,
      "yellow-5":$base-border-thickness*8 solid $yellow,
      "green-1":$base-border-thickness solid $green,
      "green-2":$base-border-thickness*2 solid $green,
      "green-3":$base-border-thickness*4 solid $green,
      "green-4":$base-border-thickness*6 solid $green,
      "green-5":$base-border-thickness*8 solid $green,
      "orange-1":$base-border-thickness solid $orange,
      "orange-2":$base-border-thickness*2 solid $orange,
      "orange-3":$base-border-thickness*4 solid $orange,
      "orange-4":$base-border-thickness*6 solid $orange,
      "orange-5":$base-border-thickness*8 solid $orange,
      "purple-1":$base-border-thickness solid $purple,
      "purple-2":$base-border-thickness*2 solid $purple,
      "purple-3":$base-border-thickness*4 solid $purple,
      "purple-4":$base-border-thickness*6 solid $purple,
      "purple-5":$base-border-thickness*8 solid $purple,
      "gray-1":$base-border-thickness solid $gray,
      "gray-2":$base-border-thickness*2 solid $gray,
      "gray-3":$base-border-thickness*4 solid $gray,
      "gray-4":$base-border-thickness*6 solid $gray,
      "gray-5":$base-border-thickness*8 solid $gray,
      "black-1":$base-border-thickness solid $black,
      "black-2":$base-border-thickness*2 solid $black,
      "black-3":$base-border-thickness*4 solid $black,
      "black-4":$base-border-thickness*6 solid $black,
      "black-5":$base-border-thickness*8 solid $black,
      "white-1":$base-border-thickness solid $white,
      "white-2":$base-border-thickness*2 solid $white,
      "white-3":$base-border-thickness*4 solid $white,
      "white-4":$base-border-thickness*6 solid $white,
      "white-5":$base-border-thickness*8 solid $white,
    ),
  ),
  "border-left": (
    "prefix": "#{$prefix}border-left",
    "values": (
      "primary-1":$base-border-thickness solid $primary,
      "primary-2":$base-border-thickness*2 solid $primary,
      "primary-3":$base-border-thickness*4 solid $primary,
      "primary-4":$base-border-thickness*6 solid $primary,
      "primary-5":$base-border-thickness*8 solid $primary,
      "secondary-1":$base-border-thickness solid $secondary,
      "secondary-2":$base-border-thickness*2 solid $secondary,
      "secondary-3":$base-border-thickness*4 solid $secondary,
      "secondary-4":$base-border-thickness*6 solid $secondary,
      "secondary-5":$base-border-thickness*8 solid $secondary,
      "success-1":$base-border-thickness solid $success,
      "success-2":$base-border-thickness*2 solid $success,
      "success-3":$base-border-thickness*4 solid $success,
      "success-4":$base-border-thickness*6 solid $success,
      "success-5":$base-border-thickness*8 solid $success,
      "warning-1":$base-border-thickness solid $warning,
      "warning-2":$base-border-thickness*2 solid $warning,
      "warning-3":$base-border-thickness*4 solid $warning,
      "warning-4":$base-border-thickness*6 solid $warning,
      "warning-5":$base-border-thickness*8 solid $warning,
      "danger-1":$base-border-thickness solid $danger,
      "danger-2":$base-border-thickness*2 solid $danger,
      "danger-3":$base-border-thickness*4 solid $danger,
      "danger-4":$base-border-thickness*6 solid $danger,
      "danger-5":$base-border-thickness*8 solid $danger,
      "info-1":$base-border-thickness solid $info,
      "info-2":$base-border-thickness*2 solid $info,
      "info-3":$base-border-thickness*4 solid $info,
      "info-4":$base-border-thickness*6 solid $info,
      "info-5":$base-border-thickness*8 solid $info,
      "blue-1":$base-border-thickness solid $blue,
      "blue-2":$base-border-thickness*2 solid $blue,
      "blue-3":$base-border-thickness*4 solid $blue,
      "blue-4":$base-border-thickness*6 solid $blue,
      "blue-5":$base-border-thickness*8 solid $blue,
      "red-1":$base-border-thickness solid $red,
      "red-2":$base-border-thickness*2 solid $red,
      "red-3":$base-border-thickness*4 solid $red,
      "red-4":$base-border-thickness*6 solid $red,
      "red-5":$base-border-thickness*8 solid $red,
      "yellow-1":$base-border-thickness solid $yellow,
      "yellow-2":$base-border-thickness*2 solid $yellow,
      "yellow-3":$base-border-thickness*4 solid $yellow,
      "yellow-4":$base-border-thickness*6 solid $yellow,
      "yellow-5":$base-border-thickness*8 solid $yellow,
      "green-1":$base-border-thickness solid $green,
      "green-2":$base-border-thickness*2 solid $green,
      "green-3":$base-border-thickness*4 solid $green,
      "green-4":$base-border-thickness*6 solid $green,
      "green-5":$base-border-thickness*8 solid $green,
      "orange-1":$base-border-thickness solid $orange,
      "orange-2":$base-border-thickness*2 solid $orange,
      "orange-3":$base-border-thickness*4 solid $orange,
      "orange-4":$base-border-thickness*6 solid $orange,
      "orange-5":$base-border-thickness*8 solid $orange,
      "purple-1":$base-border-thickness solid $purple,
      "purple-2":$base-border-thickness*2 solid $purple,
      "purple-3":$base-border-thickness*4 solid $purple,
      "purple-4":$base-border-thickness*6 solid $purple,
      "purple-5":$base-border-thickness*8 solid $purple,
      "gray-1":$base-border-thickness solid $gray,
      "gray-2":$base-border-thickness*2 solid $gray,
      "gray-3":$base-border-thickness*4 solid $gray,
      "gray-4":$base-border-thickness*6 solid $gray,
      "gray-5":$base-border-thickness*8 solid $gray,
      "black-1":$base-border-thickness solid $black,
      "black-2":$base-border-thickness*2 solid $black,
      "black-3":$base-border-thickness*4 solid $black,
      "black-4":$base-border-thickness*6 solid $black,
      "black-5":$base-border-thickness*8 solid $black,
      "white-1":$base-border-thickness solid $white,
      "white-2":$base-border-thickness*2 solid $white,
      "white-3":$base-border-thickness*4 solid $white,
      "white-4":$base-border-thickness*6 solid $white,
      "white-5":$base-border-thickness*8 solid white
    ),
  ),
  "border-top": (
    "prefix": "#{$prefix}border-top",
    "values": (
      "primary-1":$base-border-thickness solid $primary,
      "primary-2":$base-border-thickness*2 solid $primary,
      "primary-3":$base-border-thickness*4 solid $primary,
      "primary-4":$base-border-thickness*6 solid $primary,
      "primary-5":$base-border-thickness*8 solid $primary,
      "secondary-1":$base-border-thickness solid $secondary,
      "secondary-2":$base-border-thickness*2 solid $secondary,
      "secondary-3":$base-border-thickness*4 solid $secondary,
      "secondary-4":$base-border-thickness*6 solid $secondary,
      "secondary-5":$base-border-thickness*8 solid $secondary,
      "success-1":$base-border-thickness solid $success,
      "success-2":$base-border-thickness*2 solid $success,
      "success-3":$base-border-thickness*4 solid $success,
      "success-4":$base-border-thickness*6 solid $success,
      "success-5":$base-border-thickness*8 solid $success,
      "warning-1":$base-border-thickness solid $warning,
      "warning-2":$base-border-thickness*2 solid $warning,
      "warning-3":$base-border-thickness*4 solid $warning,
      "warning-4":$base-border-thickness*6 solid $warning,
      "warning-5":$base-border-thickness*8 solid $warning,
      "danger-1":$base-border-thickness solid $danger,
      "danger-2":$base-border-thickness*2 solid $danger,
      "danger-3":$base-border-thickness*4 solid $danger,
      "danger-4":$base-border-thickness*6 solid $danger,
      "danger-5":$base-border-thickness*8 solid $danger,
      "info-1":$base-border-thickness solid $info,
      "info-2":$base-border-thickness*2 solid $info,
      "info-3":$base-border-thickness*4 solid $info,
      "info-4":$base-border-thickness*6 solid $info,
      "info-5":$base-border-thickness*8 solid $info,
      "blue-1":$base-border-thickness solid $blue,
      "blue-2":$base-border-thickness*2 solid $blue,
      "blue-3":$base-border-thickness*4 solid $blue,
      "blue-4":$base-border-thickness*6 solid $blue,
      "blue-5":$base-border-thickness*8 solid $blue,
      "red-1":$base-border-thickness solid $red,
      "red-2":$base-border-thickness*2 solid $red,
      "red-3":$base-border-thickness*4 solid $red,
      "red-4":$base-border-thickness*6 solid $red,
      "red-5":$base-border-thickness*8 solid $red,
      "yellow-1":$base-border-thickness solid $yellow,
      "yellow-2":$base-border-thickness*2 solid $yellow,
      "yellow-3":$base-border-thickness*4 solid $yellow,
      "yellow-4":$base-border-thickness*6 solid $yellow,
      "yellow-5":$base-border-thickness*8 solid $yellow,
      "green-1":$base-border-thickness solid $green,
      "green-2":$base-border-thickness*2 solid $green,
      "green-3":$base-border-thickness*4 solid $green,
      "green-4":$base-border-thickness*6 solid $green,
      "green-5":$base-border-thickness*8 solid $green,
      "orange-1":$base-border-thickness solid $orange,
      "orange-2":$base-border-thickness*2 solid $orange,
      "orange-3":$base-border-thickness*4 solid $orange,
      "orange-4":$base-border-thickness*6 solid $orange,
      "orange-5":$base-border-thickness*8 solid $orange,
      "purple-1":$base-border-thickness solid $purple,
      "purple-2":$base-border-thickness*2 solid $purple,
      "purple-3":$base-border-thickness*4 solid $purple,
      "purple-4":$base-border-thickness*6 solid $purple,
      "purple-5":$base-border-thickness*8 solid $purple,
      "gray-1":$base-border-thickness solid $gray,
      "gray-2":$base-border-thickness*2 solid $gray,
      "gray-3":$base-border-thickness*4 solid $gray,
      "gray-4":$base-border-thickness*6 solid $gray,
      "gray-5":$base-border-thickness*8 solid $gray,
      "black-1":$base-border-thickness solid $black,
      "black-2":$base-border-thickness*2 solid $black,
      "black-3":$base-border-thickness*4 solid $black,
      "black-4":$base-border-thickness*6 solid $black,
      "black-5":$base-border-thickness*8 solid $black,
      "white-1":$base-border-thickness solid $white,
      "white-2":$base-border-thickness*2 solid $white,
      "white-3":$base-border-thickness*4 solid $white,
      "white-4":$base-border-thickness*6 solid $white,
      "white-5":$base-border-thickness*8 solid white
    ),
  ),
  "border-bottom": (
    "prefix": "#{$prefix}border-bottom",
    "values": (
      "primary-1":$base-border-thickness solid $primary,
      "primary-2":$base-border-thickness*2 solid $primary,
      "primary-3":$base-border-thickness*4 solid $primary,
      "primary-4":$base-border-thickness*6 solid $primary,
      "primary-5":$base-border-thickness*8 solid $primary,
      "secondary-1":$base-border-thickness solid $secondary,
      "secondary-2":$base-border-thickness*2 solid $secondary,
      "secondary-3":$base-border-thickness*4 solid $secondary,
      "secondary-4":$base-border-thickness*6 solid $secondary,
      "secondary-5":$base-border-thickness*8 solid $secondary,
      "success-1":$base-border-thickness solid $success,
      "success-2":$base-border-thickness*2 solid $success,
      "success-3":$base-border-thickness*4 solid $success,
      "success-4":$base-border-thickness*6 solid $success,
      "success-5":$base-border-thickness*8 solid $success,
      "warning-1":$base-border-thickness solid $warning,
      "warning-2":$base-border-thickness*2 solid $warning,
      "warning-3":$base-border-thickness*4 solid $warning,
      "warning-4":$base-border-thickness*6 solid $warning,
      "warning-5":$base-border-thickness*8 solid $warning,
      "danger-1":$base-border-thickness solid $danger,
      "danger-2":$base-border-thickness*2 solid $danger,
      "danger-3":$base-border-thickness*4 solid $danger,
      "danger-4":$base-border-thickness*6 solid $danger,
      "danger-5":$base-border-thickness*8 solid $danger,
      "info-1":$base-border-thickness solid $info,
      "info-2":$base-border-thickness*2 solid $info,
      "info-3":$base-border-thickness*4 solid $info,
      "info-4":$base-border-thickness*6 solid $info,
      "info-5":$base-border-thickness*8 solid $info,
      "blue-1":$base-border-thickness solid $blue,
      "blue-2":$base-border-thickness*2 solid $blue,
      "blue-3":$base-border-thickness*4 solid $blue,
      "blue-4":$base-border-thickness*6 solid $blue,
      "blue-5":$base-border-thickness*8 solid $blue,
      "red-1":$base-border-thickness solid $red,
      "red-2":$base-border-thickness*2 solid $red,
      "red-3":$base-border-thickness*4 solid $red,
      "red-4":$base-border-thickness*6 solid $red,
      "red-5":$base-border-thickness*8 solid $red,
      "yellow-1":$base-border-thickness solid $yellow,
      "yellow-2":$base-border-thickness*2 solid $yellow,
      "yellow-3":$base-border-thickness*4 solid $yellow,
      "yellow-4":$base-border-thickness*6 solid $yellow,
      "yellow-5":$base-border-thickness*8 solid $yellow,
      "green-1":$base-border-thickness solid $green,
      "green-2":$base-border-thickness*2 solid $green,
      "green-3":$base-border-thickness*4 solid $green,
      "green-4":$base-border-thickness*6 solid $green,
      "green-5":$base-border-thickness*8 solid $green,
      "orange-1":$base-border-thickness solid $orange,
      "orange-2":$base-border-thickness*2 solid $orange,
      "orange-3":$base-border-thickness*4 solid $orange,
      "orange-4":$base-border-thickness*6 solid $orange,
      "orange-5":$base-border-thickness*8 solid $orange,
      "purple-1":$base-border-thickness solid $purple,
      "purple-2":$base-border-thickness*2 solid $purple,
      "purple-3":$base-border-thickness*4 solid $purple,
      "purple-4":$base-border-thickness*6 solid $purple,
      "purple-5":$base-border-thickness*8 solid $purple,
      "gray-1":$base-border-thickness solid $gray,
      "gray-2":$base-border-thickness*2 solid $gray,
      "gray-3":$base-border-thickness*4 solid $gray,
      "gray-4":$base-border-thickness*6 solid $gray,
      "gray-5":$base-border-thickness*8 solid $gray,
      "black-1":$base-border-thickness solid $black,
      "black-2":$base-border-thickness*2 solid $black,
      "black-3":$base-border-thickness*4 solid $black,
      "black-4":$base-border-thickness*6 solid $black,
      "black-5":$base-border-thickness*8 solid $black,
      "white-1":$base-border-thickness solid $white,
      "white-2":$base-border-thickness*2 solid $white,
      "white-3":$base-border-thickness*4 solid $white,
      "white-4":$base-border-thickness*6 solid $white,
      "white-5":$base-border-thickness*8 solid white
    ),
  ),
  "border-radius": (
    "prefix": "#{$prefix}br",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": $base-border-radius/4,
      "sm": $base-border-radius/2,
      "lg": $base-border-radius * 2,
      "full": 50%,
    )
  ),
  "display": (
    "prefix": "#{$prefix}display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block
    )
  ),
  "flex-direction": (
    "prefix": "#{$prefix}fd",
    "values": (
      "row": row,
      "column": column,
      "row-reverse": row-reverse,
      "column-reverse": column-reverse,
    )
  ),
  "overflow": (
    "prefix": "#{$prefix}overflow",
    "values": (
      "visible": visible,
      "hidden": hidden,
      "clip": clip,
      "scroll": scroll,
      "auto": auto,
    )
  ),
  "width": (
    "prefix": "#{$prefix}w",
    "values": (
      "25": 25%,
      "50": 50%,
      "75": 75%,
      "100": 100%,
    )
  ),
  "font-size": (
    "prefix": "#{$prefix}font",
    "values": (
      "sm": $font-size-sm,
      "md": $base-font-size,
      "lg": $font-size-lg,
      "xl": $font-size-xl,
      "xxl": $font-size-xxl
    )
  ),
  "text-align": (
    "prefix": "#{$prefix}text-align",
    "values": (
      "center": center,
      "left": left,
      "right": right,
    )
  ),
  "visibility": (
    "prefix": "#{$prefix}v",
    "values": (
      "visible": visible,
      "hidden": hidden,
    )
  ),
  "font-family": (
    "prefix": "#{$prefix}ff",
    "values": (
      "thin": $font-thin,
      "regular": $font-regular,
      "light": $font-light,
    )
  )
);

// generate utility classes
@each $property, $map in $utilities {
  $pre: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if($k == "default") {
      .#{$pre} {
        #{$property}: $v !important;
      }
    } @else {
      .#{$pre}-#{$k}{
        #{$property}: $v !important;
      }
    }
  }
}

