@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./../../assets/font/roboto-regular-webfont.woff') format('woff'),
        url('./../../assets/font/roboto-regular-webfont.woff2') format('woff2')
}

@font-face {
    font-family: 'Roboto-Light';
    font-weight: 400;
    src: url('./../../assets/font/roboto-light-webfont.woff') format('woff'),
        url('./../../assets/font/roboto-light-webfont.woff2') format('woff2')
}

@font-face {
    font-family: 'Roboto-Thin';
    font-weight: 400;
    src: url('./../../assets/font/roboto-thin-webfont.woff') format('woff'),
        url('./../../assets/font/roboto-thin-webfont.woff2') format('woff2')
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('./../../assets/font/opensans-variablefont_wdthwght-webfont.woff') format('woff'),
        url('./../../assets/font/opensans-variablefont_wdthwght-webfont.woff2') format('woff2')
}